<main class="container container-1-2">
  <div class="card sticky flex tall">
    <div class="card-header">
      <h2 class="title text-primary">Vehicles</h2>
      <div class="form-group">
        <select class="select pr-5">
          <option value="">Par planète</option>
          <option value="test">1</option>
          <option value="test">2</option>
          <option value="test">3</option>
          <option value="test">4</option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-group form-group-search">
          <input
            type="text"
            class="form-control searchbar"
            id="searchbar"
            placeholder="Faites votre recherche"
          />
          <span class="fas fa-search icon"></span>
        </div>
      </div>
    </div>

    <div class="table">
      <table>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{vehicle.name}}</td>
          <td>{{vehicle.cost_in_credits}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="medium-information mt-5">
        <span class="info">{{detailVehicles.count}} resultat(s)</span>
      </div>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="information mb-5">
        <div>
          <div class="bold text-primary">Luke Sky</div>
          <div class="info mb-3">Info supplémentaire</div>
        </div>
      </div>
      <div class="small-information mt-5">
        <a href="#" class="link">200 kg</a>
        <span class="fas fa-weight fa-2x"></span>
      </div>
      <div class="medium-information mt-4">
        <p class="bold">Véhicules</p>
        <div>
          <div class="badge badge-secondary">Voiture</div>
          <div class="badge badge-secondary">Avion</div>
        </div>
      </div>
      <div class="mt-5 d-flex right">
        <div class="btn">En savoir plus</div>
      </div>
    </div>
    <div class="card flex little">
      <div class="card-header">
        <h2 class="title text-primary mb-5">
          VUE SUR LES DIFFÉRENTES ESPÈCES
        </h2>
      </div>
    </div>
  </div>
</main>
