<div class="navbar-height"></div>
<div class="navbar">
  <div class="contain-burger">
    <div class="burger"></div>
  </div>
  <nav class="nav">
    <img src="assets/images/logotype.png" alt="Logotype" />
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
       class="navbar-link ">Accueil</a>
  </nav>
</div>
<nav class="vertical-navbar">
  <a routerLink="planets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
     class="nav-vertical-link">
    <span class="fas fa-globe fa-3x"></span>
    <p>Planètes</p>
  </a>
  <a routerLink="vehicles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
     class="nav-vertical-link">
    <span class="fas fa-rocket fa-3x"></span>
    <p>Véhicules</p>
  </a>
  <a routerLink="people" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"
     class="nav-vertical-link">
    <span class="fab fa-reddit-alien fa-3x"></span>
    <p>Personnes</p>
  </a>
</nav>
